nav {
    padding-top: 50px;
}

.navbar {
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(213, 213, 213);
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0;
}

.nav_logo {
    padding-left: 10px;
}

.nav_logo, .nav_btn {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    height: 100%;
}

.nav_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav_menu ul li a, .production_link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .4s;
    text-wrap: nowrap;
}

.nav_menu ul li:hover a {
    color: #c3002f;
}

.nav_btn button {
    border-radius: 20px;
    background: #c3002f;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    text-wrap: nowrap;
}

.nav_btn button:hover {
    background: #000;
}

.navburger {
    display: none;
}

.production_link {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.production_link:hover {
    color: #c3002f;
}

.production_submenu {
    position: absolute;
    min-width: 300px;
    top: 100%;
    left: 0;
    background: #FEF8F0;
    z-index: 23;
    border-top: 3px solid #c3002f;
    list-style: none;
    padding: 15px 30px 0 30px;
    width: 280px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.production_link:hover .production_submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.production_submenu li {
    border-bottom: 1px solid #ccc;
    padding:10px 0;
}

.production_submenu li a , .production_submenu li span {
    color: black !important;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.production_submenu li:hover a , .production_submenu li:hover span  {
    color: #c3002f !important;
}

@media screen and (max-width: 1000px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .navburger {
        display: flex;

    }

    .nav_menu {
        display: none;
    }

    .nav_menu.open {
        display: flex;
    }

    .nav_logo {
        padding-left: 20px;
        justify-content: flex-start;
    }

    .nav_logo, .nav_btn {
        width: 45%;
    }

    .nav_logo img {
        width: 60%;
    }

    .nav_btn {
        justify-content: flex-end;
        padding-right: 20px;
    }

    .nav_menu {
        position: absolute;
        width: 100%;
        top: 80px;
        background: #FEF8F0;
        height: max-content;
        transition: .4s;
        z-index: 99;
        padding: 50px 0;
        box-shadow: 0 1px  5px rgba(0,0,0,.5);
    }

    .nav_menu ul {
        flex-direction: column;
        width: 100%;
    }

    .production_submenu {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        padding-left: 10px;
        display: none;
        background: transparent;
        border-top: none;
        width: auto;
    }

    .production_submenu.open {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .production_link {
        cursor: pointer;
        height: max-content;
        flex-direction: column;
    }
}